body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #919191;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }

  .navbar a:hover {
    background-color: #555;
  }
  .listone{
    border: 2px solid rgb(0, 0, 0);
    color: rgb(36, 34, 34);
  }
h1{
    text-align: center;
}
p{
    text-align: center;

}
.flexing{
    display: flex;
}
.img1{
    height: 300px;
    width: 200px;
    text-align: right;
}


/*  */


.contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .image {
    width: 200px; 
    height: auto;
  }
  
  .text {
    margin-top: 10px;
    font-size: 18px;
  }
  .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .con{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }